{{ define "main" }}
<h1 class="home-h1">
  {{i18n "site.title"}}
</h1>
{{ partial "toggle-language.html" . }}
<ul>
  {{ range .Site.RegularPages }}
  <li>
    <a href="{{ .RelPermalink }}">
      {{ .LinkTitle }}
    </a>
    {{ with .Resources.GetMatch "cover.*" }}
    <div>
      <picture>
        <source srcset="{{ .RelPermalink }}?format=webp" type="image/webp" />
        <source srcset="{{ .RelPermalink }}" type="image/jpeg" />
        <img src="{{ .RelPermalink }}" srcset="{{ .RelPermalink }} 640w, {{ .RelPermalink }} 1280w"
          sizes="(max-width: 640px) 100vw, 640px" loading="lazy" style="max-height: 200px; width: auto; height: auto;">
      </picture>
    </div>
    {{ end }}
    {{ end }}
</ul>
{{ end }}
